{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block left-btn %}
    <h6>Welcome, {{ request.user.username }}</h6>
    <a href="{% url 'quizzes:logout_user' %}">Logout</a>
{% endblock left-btn %}

{%  block content %}
    <br>
    <br>
    <h2 style="font-family:arial";><center>Welcome to</center></h2>
    <h1 style="font-family:arial; color:MediumSeaGreen";><center>Talking Arab World Map</center></h1>
    <br>
    <br>

    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f3/A_map_of_the_Arab_World_with_flags.svg"
         alt="Talking Arab World Map"
         style="width:50%; height:50%"
         class="center">

    {% for country in countries %}
    <a href="{% url 'quizzes:main-view' country.name %}">
        <button id = startBtn class="btn btn-link btn-sm"
            data-pk="{{ country.pk }}"
            data-country="{{ country.name }}">{{ country.name }}
        </button>
    </a>
    {% endfor %}

    <br>
    <br>
    <p style="font-size:30px"><center>Click on an Arab Country to learn more about its cultural and historic background.</center>
{% endblock content %}