<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="instructionsModal" class="instructions-modal">

    <!-- Modal content -->
    <div class="instructions-modal-content">
        <span class="instructions-close">&times;</span>
        <h3 style=color:mediumSeaGreen>Overview</h3>
        <p style=font-size:11px>Talking Arab World Map focuses on not only improving students' Arabic language skills,
        but it also improves their knowledge on the culture and history of the 22 Arab countries.
        Students are able to select an Arab country from the world map. For each country, students
        can take a pre-assessment quiz and work through three learning phases as they improve. The
        first phase focuses on audio comprehension, the second phase focuses on conversations,
        and the third phase focuses on speaking & writing. Within each phase, students will learn
        and be tested on 5 categories: Location, Culture-Politics, Language-Religion, Population,
        and History-Economy. The three phases will take approximately 50 hours in order to achieve
        a 100% final score.</p>

        <h3 style=color:mediumSeaGreen>Phase 1</h3>
        <p style="font-size:11px">The student will watch a 1-3 minute video on the first category and
        then take a 5 question quiz about the video. If the student reaches a perfect score on the quiz,
        the student will be allowed to move on to the next category. The process wll repeat until the student
        has completed all 5 categories. After completing the categories, the student will be permitted to
        move on to Phase 2.</p>

        <h3 style=color:mediumSeaGreen>Phase 2</h3>
        <p style="font-size:11px">The student will read a short text about the first category and then
        have a conversation with a Western student about the text. Students will read a question posed by the
        Western student and will then be prompted to input a response. The audio output of the student's
        response will play. Students will continue to converse with the student until that category is complete.
        Once the student completes the conversation, the student will be allowed to move on to the next
        category. This process will repeat until the student has completed all 5 categories. After
        completing the categories, the student will be permitted to move on to Phase 3.</p>

        <h3 style=color:mediumSeaGreen>Phase 3</h3>
        <p style="font-size:11px">The student will provide written responses to 5 questions about the first
        category. Students will also upload audio recordings of them speaking their responses. After completing
        all 5 questions for that category, the student will be allowed to move onto the next category.
        This process will repeat until the student has completed all 5 categories. After completing the categories,
        the student will have successfully completed all three phases for that country.</p>

    </div>

</div>