.not-visible {
    display: none;
}

body {
  font-family:Arial;
  margin: 10px
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right {
  float: right;
  width: 300px;
  padding: 10px;
}

.left {
  float: left;
  width: 300px;
  padding: 10px;
}

/* Login and Instructions */
.flex-container {
  display: flex;
  justify-content: space-between;
}

.left-btn {
  width: 100px;
  white-space: nowrap;
}

.right-btn {
  /*align-self: flex-end;*/
  width: 100px;
}

/* The Instructions Modal (background) */
.instructions-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.instructions-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.instructions-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*Progress Report*/
.section-container {
  width: 800px;
  margin: 1rem auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: mediumSeaGreen;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50px;
  padding: 2px;
}

.first-row {
  background-color: MediumSeaGreen;
  border: 1px solid MediumSeaGreen;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff
}

.second-row {
  background-color: #fff;
  border-bottom: 1px solid MediumSeaGreen;
  padding: 10px;
  font-size: 14px;
}

/*Image Gallery*/
.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 20px;
}

.description {
    padding: 15px;
    text-align: center;
}

/*Quiz Box*/
.quiz-container {
  width: 800px;
  margin: 1rem auto;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: mediumSeaGreen;
  background-color: #fff;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.quiz-container > h2 {
  text-align: center
}

/* The Submit Modal (background) */
.submit-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.submit-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.submit-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.submit-close:hover,
.submit-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}